.card__badge {
    background-color: red;
    margin: 5px;
}

.card__badge p {
    color: #fff;
    padding: 28px 0;
}

.card__badge p span {
    font-weight: 700;
}

.fa-star-check {
    color: orange;
}

.card__box {
    border: 1px solid #333;
    padding: 0 10px;
    border-radius: 5px;
}

.fa-plus {
    color: #333333;
}

.fa-star-black {
    color: #000000;
}

.card-count-select {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    padding: 0;
}

.card-count {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
