img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    box-sizing: border-box;
}

.card__badge {
    background-color: red;
    margin: 5px;
}

.card__badge p {
    color: #fff;
    padding: 28px 0;
}

.card__badge p span {
    font-weight: 700;
}

.fa-star-check {
    color: orange;
}

.card__box {
    border: 1px solid #333;
    padding: 0 10px;
    border-radius: 5px;
}

.fa-plus {
    color: #333333;
}

.fa-star-black {
    color: #000000;
}

.card-count-select {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    padding: 0;
}

.card-count {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__list {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    margin: 8px 0px;
}

.card__list::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
}

:root {
    --background-range: #a4a4a4;
}
.filter {
    width: 100%;
}
.filter > div {
    padding-top: 20px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}
.filter > div > div {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}
.filter .slider {
    margin-top: 10px;
    position: relative;
    height: 1px;
    background: #333;
}
.filter .color-range {
    position: absolute;
    background: var(--background-range, #000);
    width: 95%;
    border: none;
    height: 1px;
    left: 15px;
}
.filter .block-min,
.block-max {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
    top: -8px;
    background: #fff;
    border: 1px solid;
    border-radius: 50%;
    z-index: 1;
}
.filter .block-max {
    left: 95%;
}
